{% extends "base.html" %}
{% block content %}
    <div class="container">
      <form class="form-group" method="POST">
        {{triviaForm.hidden_tag()}}
        <div class="form-group">
            {{triviaForm.title.label(class="form-control-label")}}
            {{triviaForm.title(class="form-control form-control-lg")}}
        </div>
        <div class="form-group">
            {{triviaForm.submit(class="btn btn-outline-info")}}
        </div>
    </form>
      <form class="form-group" method="POST">
        {{questionForm.hidden_tag()}}
        <div class="form-group">
          {{questionForm.trivia_id.label(class="form-control-label")}}
          {{questionForm.trivia_id(class="form-control form-control-lg")}}
        </div>
        <div class="form-group">
            {{questionForm.question.label(class="form-control-label")}}
            {{questionForm.question(class="form-control form-control-lg")}}
        </div>
        <div class="form-group">
          {{questionForm.answer.label(class="form-control-label")}}
          {{questionForm.answer(class="form-control form-control-lg")}}
        </div>
        <div class="form-group">
            {{questionForm.submit(class="btn btn-outline-info")}}
        </div>
    </form>
    </div>
{% endblock %}