{% extends "base.html" %}
{% block content %}
    <!-- <section>
        <div class="title head">
            <h1>Trivia Mania</h1>
        </div>
    </section> -->
    <div class="trivia-container">
        {% for post in trivias.items %}
            <div class="card">
                <div class="car-boy">
                    <h2>
                        <a href="{{url_for('trivias.trivia', trivia_id=post.id)}}" class="card-title"><button class = "button">{{post.title}}</button></a>
                    </h2>
                </div>
            </div>
        {% endfor %}
       
    </div>
{% endblock %}