{% extends "base.html" %}
{% block content %}
    <section>
        <div class="title-primary razor-primary">
            <h1>Trivia Mania</h1>
        </div>
    </section>
    <div class="trivia-container">
        {% for title in titles %}
            <div class="card">
                <div class="car-boy">
                    <h2>
                        <a href="{{url_for('trivias.trivia', title=title)}}" class="card-title"><button class = "button">{{title}}</button></a>                     
                    </h2>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}