{% extends "base.html" %}
{% block content %}
    <section>
        <div class="title-secondary razor-secondary">
        <h2>About</h2>
        </div>
    </section>
    <div class="container">
        <h1>How it began</h1>
        <p>It started with notes on my iphone, and then migrated to lists in google drive, and now has culminated in sets on an app. I hope you enjoy using this as much as I have enjoyed creating it and sharing it with my family and friends. </p>
        <h1>How to use</h1>
        <p>Each set of trivia questions contains six questions all pertaining to a shared theme. Feel free to browse existing trivia sets or create your own!</p>
    </div>
   
{% endblock %}