{% extends "base.html" %}
{% block content %}
<section>
    <div class="title-secondary razor-secondary">
        <h1>Register</h1>
    </div>
</section> 
<div class="form-container">
    <form class="form" method="POST">
        {{form.hidden_tag()}}
        <div class="form-el">
            {{form.email.label}}{{form.email}}
        </div>
        <div class="form-el">
            {{form.username.label}}{{form.username}}
        </div>
        <div class="form-el">
            {{form.password.label}}{{form.password}}
        </div>
        <div class="form-el">
            {{form.pass_confirm.label}}{{form.pass_confirm}}
        </div>
        <div class="form-btn">
            {{form.submit(class='btn-secondary')}}
        </div>
    </form>
</div>
{% endblock %}