{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>{{title}}</h1>
  <h2>Written by: {{trivias[0].author.username}}</h2>
  <h3>Published: {{ trivias[0].date.strftime('%B %d, %Y') }}</h3>
  {% for i in range(6) %}
    {% if trivias[i].question|length %}
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <article class="thumbnail">
            <header>
            <p>Question {{i+1}}</p>
            </header>
            <p class="flex-text">{{trivias[i].question}}</p>
        </article>
      </div>
      {% endif %}
  {% endfor %}
</div>
{% endblock content %}